*.ncb
Debug/
Release/
extractDesc/Debug/
extractDesc/Release/
matchingDesc/Debug/
matchingDesc/Release/
matchingDesc/descriptionDB
matchingDesc/descriptionDB-ori
matchingDesc/descriptionDB-ภาพเถื่อนจาก net
matchingDesc/flowerPicDB
matchingDesc/flowerPicDB-ori
matchingDesc/flowerPicDB-ภาพเถื่อนจาก net
matchingDesc/MyFlowerPhoto
*.exe
unknownFlower.jpg
Matches.txt